.featured{
    height: 310px;
    background-color: black;
    position: relative;
    background-image: url('/photo.jpg');
    background-size: cover;
}

.count{
    position: absolute;
    top: 30px;
    right: 26px;
    font-size: 30px;
}

.featured .text-area{
    position: absolute;
    bottom: 36px;
    left: 24px;
}

.featured .text-area .title{
    margin-bottom: 12px;
}

sup{
    font-size: 10px;
}

.swiper{
    white-space: nowrap;
    overflow-x: scroll;
    padding: 24px;
}

.swiper li{
    display: inline-block;
    background-image: url('/photo.jpg');
    width: 136px;
    height: 80px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    margin-right: 10px;
}