.featured {
  height: 310px;
  background-color: black;
  position: relative;
  background-image: url("/img/photo.jpg");
  background-size: cover;
}

.count {
  position: absolute;
  top: 30px;
  right: 26px;
  font-size: 30px;
}

.featured .text-area {
  position: absolute;
  bottom: 36px;
  left: 24px;
}

.featured .text-area .title {
  margin-bottom: 12px;
}

sup {
  font-size: 10px;
}

.swiper {
  white-space: nowrap;
  overflow-x: scroll;
  padding: 24px;
  padding-bottom: 7px;
}

.swiper li {
  display: inline-block;
  background-image: url("/img/photo.jpg");
  width: 136px;
  height: 80px;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  margin-right: 10px;
}

.item {
  padding: 17px 24px 20px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  position: relative;
}

.item::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all ease 300ms;
}

.item:hover::after {
  background-color: rgba(0, 0, 0, 0.12);
}
.item:active::after {
  background-color: rgba(0, 0, 0, 0.2);
}

/* .dimm{
    background-color: rgba(0,0,0,0.12);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
} */

.item .num {
  width: 26px;
  height: 26px;
  background-color: #ffe6cf;
  color: #485762;
  border-radius: 50%;
  padding: 5px 10px;
  box-sizing: border-box;
  margin-right: 24px;
}

/* 리스트 설명 */
.item .title {
  font-size: 17px;
}

.item .desc {
  font-size: 13px;
  opacity: 0.7;
}
