body{
    margin: 0;
    font-family: 'Helvetica Neue', 'Segoe UI', -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
    background-color: #485861;
    color: #ffe6cf;
    font-size: 11px;
    line-height: 1.4;
    font-weight: 500;
    overflow-x: hidden;
}

h1{
    margin: 0;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
}

p{
    margin: 0;
}

ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}

input{
    background-color: rgba(255,255,255,0.08);
    border: none;
    height: 40px;
    border-radius: 8px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    transition: all ease 300ms;
}

input:focus{
    outline: none;
    background-color:rgba(255,255,255,0.12);
}

input::placeholder{
    color: rgba(255,255,255,0.3);
    text-align: center;
}