body{
    margin: 0;
    font-family: 'Helvetica Neue', 'Segoe UI', -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
    background-color: #485861;
    color: #ffe6cf;
    font-size: 11px;
    line-height: 1.4;
    font-weight: 500;
}
.text-area{
    margin-top: 90px;
    margin-left: 85px;
}

.text-area h1{
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
}

.volume{
    margin-bottom: 85px;
}

#circle-wrap{
}


.circle{
    width: 246px;
    height: 246px;
    border-radius: 50%;
}

.circle:nth-child(1){
    background-color: transparent;
    border: 1px solid black; 
    /* border 기본 아웃인데 box-sizing:border-box 해주면 안으로 들어가서 아주 작은 디테일이지만 사이즈는 그대로 */
    opacity: 0.2;
}

.circle:nth-child(2){
    background-color: #ffc000;
}

.circle:nth-child(3){
    background-color: #fedd15
}

#badge{
    background-color: #ffc000;
    width: 56px;
    height: 56px;
    color: #485861;
    margin-left: 24px;
    padding-left: 13px;
    padding-top: 18px;
    font-size: 9px;
    line-height: 11px;
    box-sizing: border-box;
}